/* src/App.css */
.app-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-side {
  width: 250px;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.logo-container img {
  width: 100%;
  max-width: 150px;
  margin-bottom: 20px;
}

.menu-container h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.menu-container ul {
  list-style: none;
  padding: 0;
}

.menu-container li {
  margin-bottom: 10px;
}

.menu-container a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.middle {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.right-side {
  width: 250px;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}
